<div class="post-page-container">
  <div class="post-container" *ngFor="let post of posts" >
    <section class="post-title">{{ post.title }}</section>
    <section class="post-author">
     <span class="post-author-name">{{ post.name }}</span>
     <span class="post-author-username">{{' @'+ post.userName }}</span>
    </section>
    <section class="post-content"> {{ post.body }}</section>
    <div class="comments-container">
      <section class="comments-title">Comments</section>
      <div class="comments" *ngFor="let comment of post.comments" >
          <section class="comments-header">
          <span class="comments-name">{{ comment.name }}</span>
          <span class="comments-email">{{ comment.email }}</span>
          </section>
       <section class="comments-body">{{ comment.body }}</section>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
